
resources/lib/__init__.pyo

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

resources/lib/api.pyo

resources/__init__.pyo

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/plugin.video.couchpotato_manager.iml
